<header >
    <div class="contenedor ld ld-float-rtl-in">

      <nav class="menu">
       </nav>


       <div class="contenedor_texto">

          <div class="texto">
           <h1 class="nombre">Sofia Roumieu</h1>
           <h2 class="profesion">Desarroladora Full Stack</h2>

          </div>

      </div>

    </div>
</header>
<section class="main ">
  <section class="acerca_de ">
    <div class="contenedor ld ld-blur-in">
          <div class="foto ld ld-vortex-in">
              <img class="img" src="./assets/imagenes/yo.jpg" width="250" height="250" alt="Sofia Roumieu">
          </div>
          <div id="quien" class="texto">
              <h3 class="titulo">Soy Sofia Roumieu, Alumna de la UTN FRA</h3>
              <p>Soy una desarroladora apasionada por lo que hace, siempre buscando la mejor forma para llevar a cabo mis trabajos y capacitandome constatemente para ser crecer profesionalmente. </p>
          </div>
          <hr>
          <div class="texto">
            <h3 class="titulo">Descripción del juego 'Simon Dice'</h3>
            <p>El juego consiste en que el usuario logre repetir la secuencia de colores que Simón propone. Se comienza con un color y se van sumando de a uno a medida que las rondas pasan, incrementando la complejidad del juego. Mientras más larga sea la secuencia, mayor cantidad de puntos sumará. Una vez que el usuario confunda la secuencia el juego finalizará, y se podrá iniciar uno nuevo desde el comienzo.</p>
        </div>
        <hr>
    </div>
  </section>

</section>

<footer>

  <section class="redes_sociales">
   <div class="contenedor">
       <a href="https://github.com/SofiaRoumieu" class="github"><i class="fa fa-github"></i></a>
       <a href="https://www.linkedin.com/in/sofia-roumieu-a9829717b" class="linkedin"><i class="fa fa-linkedin"></i></a>
   </div>
  </section>
</footer>

