  <form class="modal-content" >
        <div  class="container">
          <h1 class="h3 mb-3 font-weight-normal">Registro de Usuario</h1>
          <label><b>Usuario</b></label>
          <input class="form-control" type="text" [(ngModel)]="user" [ngModelOptions]="{standalone: true }"  placeholder="Ingrese su nombre de usuario" name="user" required>
          <label><b>Cuil</b></label>
          <input class="form-control" type="number" [(ngModel)]="cuil" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su Cuit/Cuil" name="email" required>
          <label><b>Sexo</b></label>
         
          <select [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}" class="browser-default custom-select">
            <option selected value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
          </select>
          <label><b>Email</b></label>
          <input class="form-control" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su correo" name="email" required>
  
          <label><b>Clave</b></label>
          <input class="form-control" type="password" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su contraseña" name="psw" required>
  
          <label><b>Repita la clave</b></label>
          <input class="form-control" type="password" [(ngModel)]="clave2" [ngModelOptions]="{standalone: true}" placeholder="Repita la contraseña" name="psw-repeat" required>
          
          <div class="divBoton" style="margin-top: 10px;">
            <button (click)="registro()"  type="submit" class="btn-success btn-sm boton " onclick="this.blur();">Registrarme</button>
          </div>
        </div>
      </form>
